<p>Olá!</p>

<p>
  Para que o Conselho administrativo e o Colegiado de presidentes de federação consigam acompanhar a evolução da rede precissamos de dados concretos que eles possam avaliar.  
</p>

<p>
  Por favor ingrese neste link para preencher os indices de controle do mês passado de sua escola. São poucos, você completará rápidamente.
</p>

<p>
<%= link_to @link, @link %>
</p>

<p>
  Muito obrigado
</p>

<p>
  <i>Preencher o formulário não é necessario se você utiliza o PADMA.</i>
</p>
