<p>Olá!</p>

<p>
  Por favor ingrese neste link para preencher os indices de controle do mês passado de sua escola:
</p>

<p>
<%= link_to @link, @link %>
</p>

<p>
  Muito obrigado
</p>

<p>
  <i>Preencher o formulário não é necessario se você utiliza o PADMA.</i>
</p>
