.show-on-hover{
  display: none;
}

.toggle-views {
  text-align: center;
}

.toggle-views:hover{
  .show-on-hover {
    display: inline-block;
  }
}

.best_in_place {
  cursor: pointer;
}

.editable {
  color: #428bca;
}
