th form {
  margin: 0px;
}

.badge a {
  color: #ffffff;
}

.chart-container {
  width: 100%;
  height: 400px;
}

#request-sync-form {
  display: inline;
}

#search_form {
  display: none;
}
.test {
  color: #ffffff
}

.page-header {

  #download-link {
    float: right;
  }

  h2 {
    form {
      display: none;
    }
  }
}
#stats table>tbody>tr>th { max-width: 120px;}