th form {
  margin: 0px;
}

.badge a {
  color: #ffffff;
}

#request-sync-form {
  display: inline;
}

#search_form {
  display: none;
}
.test {
  color: #ffffff
}

// Improve schools
.schools-content {
  .chart-container {
    height: 400px;
    widows: 100%;
  }
}

.schools-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.filter-controls {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.filter-controls-right {
  text-align: right;
}

#statstable {
  > tbody {
    > tr {
      > th {
        max-width: 120px;
      }
    }
  }
  .editable {
    color: #428bca;
    &:focus,
    &:hover {
      color: #357ebd;
      text-decoration: none;
    }
  }
  .toggle-views {
    .show-on-hover {
      display: none;
    }
    &:hover {
      .show-on-hover {
        display: inline-block;
      }
    }
  }
}

#new_sync_request {
  display: inline;
}