.statsteacher-navbar {
	.form-inline {
		.form-group {
			@media (min-width: 768px) {
				vertical-align: bottom;
			}
		}
	}
	.label-block {
		color: #000;
		display: block;
		font: {
			size: 14px;
			weight: normal;
		}
		@media (max-width: 767px) {
			-webkit-flex: 1 100%;
			-moz-flex: 1 100%;
			-ms-flex: 1 100%;
			flex: 1 100%;
		}
	}
}

.filter-controls .label-to {
	color: #000;
	font-size: 13px;
	font-weight: normal;
}

@media (max-width: 767px) {

	.filter-controls .label-to {
		max-width: 20px;
		text-align: center;
	}
}

#statsteacher-table {
	border-top: none;
	> thead {
		> tr {
			&:first-child {
				> th {
					border: none;
					&:first-child {
						background-image: none;
						pointer-events: none;
					}
					&:nth-child(2) {
						background-color: #ededed;
					}
					&:last-child {
						background-color: #d9d9d9;
					}
				}
			}
			&:last-child {
				> th {
					border-top: 1px solid #ebebeb;
					padding-bottom: 8px;
					padding-top: 8px;
					&:first-child {
						border-left: 1px solid #ebebeb;
						border-right: 1px solid #ebebeb;
					}
					&:last-child {
						border-right: 1px solid #ebebeb;
					}
				}
			}
		}
	}
	> tbody {
		border: 1px solid #ebebeb;
		> tr {
			&:first-child {
				border-top: 1px solid #ebebeb;
			}
			> th {
				color: #000;
				font: {
					size: 11px;
					weight: normal;
				}
				text-align: center;
				text-transform: initial;
				.icon-user-default {
					margin: auto auto 5px auto;
				}
			}
			> td {
				vertical-align: middle;
				&:nth-child(7) {
					border-left: 1px solid #ebebeb;
				}
			}
		}
	}
}


.icon-user-default {
    height: 130px;
    position: relative;
    width: 130px;
}