
<div id="wrapper">
  <div id="main">
    <div id="content">
        <div class="snapshort-holder">
          <div class="heading">
            <h1>Monthly Snapshot</h1>
            <div class="date-area">
              <div class="refresh"><a href="#" class="arrow">arrow</a></div>
              <div class="date">
                <a href="#" class="previ"></a> <span class="year">May</span><a href="#" class="next"></a> 
              </div>
            </div>
          </div>
          <div class="four-column-area">
            <div class="column-area">
              <div class="headline">
                <h3>Successful Enrollments </h3>
              </div>
              <div class="num-area">
                <span class="num">3,568</span>
                <div class="img-holder"> 
                  <%= image_tag("images/icon5_03.png", height: '37', width: '197')%>
                </div>
              </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3>Total Dropouts</h3>
              </div>
              <div class="num-area">
                <span class="num">2,568</span>
                <div class="img-holder"> 
                  <%= image_tag("images/icon6_03.png", height: '37', width: '197')%> </div>
                </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3>Total Students</h3>
              </div>
              <div class="num-area">
                <span class="num">1,236</span>
                <div class="img-holder"> 
                  <%= image_tag("images/icon7_03.png", height: '37', width: '197')%> 
                </div>
              </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3>Growth or Decrease </h3>
              </div>
              <div class="num-area">
                <span class="num">+3</span>
                <div class="img-holder"> 
                  <%= image_tag("images/icon8_03.png", height: '37', width: '197')%> 
                </div>
              </div>
            </div>
          </div>
          <div class="graph">
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
        <section class="distribution-area">
          <div class="main-distribution">
            <div class="headline">
              <h2>Distribution Male &amp; female</h2>
            </div>
            <div class="distribution">
              <div class="placeholder">
                <canvas id="canvas" height="165" width="164"></canvas>
              </div>
              <div class="distribution-list">
                <ul>
                  <li class="mail">70 % Male</li>
                  <li class="femail">30 % Female</li>
                  <li class="average">Average Student <span>18 YEAR</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="student-distribution">
            <div class="headline">
              <h2>Total of Students </h2>
            </div>
            <div class="distribution">
              <div class="placeholder">
                <canvas id="canvas2" height="165" width="164"></canvas>
              </div>
              <div class="distribution-list add">
                <ul>
                  <li class="begginer">Begginer <strong>25 %</strong> </li>
                  <li class="graduate">Graduate <strong>25 %</strong> </li>
                  <li class="senior">Senior <strong>50 %</strong> </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>    
  </div>
</div>






