<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Overmind</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <%= li(params[:controller], 'federations') do
                link_to 'federations', federations_path
              end if can?(:read, Federation)
          %>
          <%= li(params[:controller], 'schools') do
                link_to 'schools', schools_path
              end if can?(:read, School) -%>
          <%= li(params[:controller], 'users') do
                link_to 'users', users_path
              end if can?(:manage,User)
          %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>